body {
    padding: 0;
    margin :0;
    background-image: url(../src/Wall.jpg);
    background-repeat: no-repeat; 
    background-size: cover;   
    background-color: rgb(5, 5, 5);                  
}

/* -------------------- ADMIN -------------------- */

.typo {
    color: #fafafa;
    font-family: "Pangolin";
    font-size: 2.5vh;
    padding-top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.start {
    font-family: "Pangolin";
    font-size: 2vh;
    color: #fafafa;
    background-color: #2b2b2b00;
    padding: 2vh;
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 140px;
    cursor: pointer;
}

.start:hover {
    color: #161616;
    background-color: #fafafa;
}


/* -------------------- VIDÉOS -------------------- */


.video-player{
    padding :0;
    margin : 0;
    display : block;
    position: absolute;
    top:0;
    left:0;
    width : 100vw;
    height : 100vh;
}


/* -------------------- HOME VIDÉO -------------------- */


.home-video-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.bienvenue {
    padding-top: 30vh;
    font-family: "Pangolin";
    font-size: 5vh;
    font-weight: 300;
    color: #fafafa;
}

@media all and (min-width: 400px) {
    .bienvenue {
        font-size: 6vh;
    }    
}

@media all and (min-width: 650px) {
  .bienvenue {
      font-size: 9vh;
  }
}

@media all and (min-width: 1200px) {
    .bienvenue {
        font-size: 15vh;
    }
}


/* -------------------- HOME MOBILE -------------------- */

.home-mobile-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.titre {
    padding-top: 27vh;
    font-size: 7vh;
    font-family: "Pangolin";
    font-weight: 300;
    color: #fafafa;
}

.buttonReady {
    font-family: "Pangolin";
    font-size: 2.8vh;
    color: #fafafa;
    background-color: #2b2b2b00;
    padding: 2vh;
    border: 4px solid;
    box-sizing: border-box;
    border-radius: 140px;
    cursor: pointer;
}

.buttonReady:hover {
    color: #161616;
    background-color: #fafafa;
}


@media all and (min-width: 320px) {
    .titre {
        font-size: 7.7vh;
    }
}


@media all and (min-width: 900px) {
    .buttonReady {
        border: 2.8px solid;
    }
}


@media all and (min-width: 1200px) {
    .titre {
        font-size: 15vh;
    }

}

/* -------------------- WAITING -------------------- */

:root {
    --size: 400px;
    --speed: 5s;
}
  
body {
   overflow: hidden;
      /*cursor: pointer;*/
}

.bg,
.loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  
}
  
.loader__inner {
    position: absolute;
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-shadow: 
      0 -10px 0 0 #d3717b,
      -7.5px 5px 0 0 #80b8ab,
      7.5px 5px 0 0 #e2b057;
    animation: rotate var(--speed) linear infinite;
}

.loader__inner:nth-child(2) {
    box-shadow: 
      7.5px -5px 0 0 rgba(49,27,146, .6),
      -7.5px -5px 0 0 rgba(81,45,168, .6),
      0 10px 0 0 rgba(103,58,183, .6);
    animation: rotate__other var(--speed) linear infinite;
}

@keyframes rotate {
    50% {
      transform: scale(1.4) rotate(360deg);
    }
    100% {
      transform: scale(1) rotate(720deg);
    }
}
  
@keyframes rotate__other {
    50% {
      transform: scale(1.5) rotate(-360deg);
    }
    100% {
      transform: scale(1) rotate(-720deg);
    }
}

.connected {
    font-family: "Pangolin";
    padding-top: 15vh;
    font-size: 2.6vh;
    font-weight: 300;
    padding: 0;
    color: #fafafa;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  @media all and (min-width: 320px) {
    .connected {
        padding-top: 13vh;

    } 
  }

  
  @media all and (min-width: 1200px) {
    .connected {
        padding-top: 10vh;
        font-size: 3.9vh;
    } 
  }

/* -------------------- BOUTONS CHOIX ET POURCENTAGES -------------------- */

.grid {
    width: 100%;
    padding-top: 5vh;
    column-gap: 30vw;
    align-content: space-around;
    grid-template-columns: 1fr;
}

@media all and (min-width: 1200px) {
    .grid-2cols {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        column-gap: 30vw;
        list-style: none;
    }   
}

.buttonA {
    font-family: "Pangolin";
    font-size: 1.8vh;
    font-weight: 300;
    color: #fafafa;
    background-color: #2b2b2b00;
    padding: 2vh;
    border: 3.2px solid;
    box-sizing: border-box;
    border-radius: 120px;
    cursor: pointer;
    list-style: none;
}

.buttonA:hover {
    color: #161616;
    background-color: #fafafa;
}

.totalA {
    padding-top: 10vh; 
    font-family: "Pangolin";
    font-size: 2.9vh;
    font-weight: 300;
    color: #fafafa;
    list-style: none;
    
}

.buttonB {
    font-family: "Pangolin";
    font-size: 1.8vh;
    font-weight: 300;
    color: #fafafa;
    background-color: #2b2b2b00;
    padding: 2vh;
    border: 3.2px solid;
    box-sizing: border-box;
    border-radius: 120px;
    cursor: pointer;
    list-style: none;
}

.buttonB:hover {
    color: #161616;
    background-color: #fafafa;
}

.totalB {
    padding-top: 10vh; 
    font-family: "Pangolin";
    font-size: 2.9vh;
    font-weight: 300;
    color: #fafafa;
    list-style: none;
}

.choix-pourcentage-1 {
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choix-pourcentage-2 {
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media all and (min-width: 650px) {
  .buttonA {
    font-size: 2.8vh;
  }
  .totalA {
    font-size: 2.7vh;
  } 
  .buttonB {
    font-size: 2.8vh;
  }
  .totalB {
    font-size: 2.7vh;
  } 
}

@media all and (min-width: 850px) {
    .buttonA {
        font-size: 3.8vh;
    }
    .totalA {
        font-size: 3.7vh;
    }   
    .buttonB {
        font-size: 3.8vh;
    }
    .totalB {
        font-size: 3.7vh;
    }   
}

/*------------------ TIMER ------------------*/

.base-timer {
    font-family: "Pangolin";
    color: #fafafa;
 
    width: 100%;
    height: 20vh;
    padding-top: 5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media all and (min-width: 600px) {
   .base-timer {
        padding-left: 2vh;
        padding-top: 15vh;
        width: 100%;
        height: 30vh;

    }  
}

.base-timer__svg {
    transform: scaleX(-1);
}
  
.base-timer__circle {
    fill: none;
    stroke: none;
}
  
.base-timer__path-elapsed {
    stroke-width: 2px;
    stroke: rgb(29, 29, 29);
}
  
.base-timer__path-remaining {
    stroke-width: 2px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}
  
.base-timer__path-remaining.green {
    color: #fafafa;
}
  
.base-timer__path-remaining.orange {
    color: #fafafa;
}
  
.base-timer__path-remaining.red {
    color: #fafafa;
}
  
.base-timer__label {
    position: absolute;
    width: 100%;
    height: 20vh;
    top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
}

@media all and (min-width: 650px) {
    .base-timer__label {
        top: 15vh;
        width: 100%;
        height: 30vh;
        font-size: 5vh;
    }   
}

/*-------- ARBO --------*/

.arbo {
    width: 100%;
    height: 100%;
    padding-top: 17vh;
}




